.doctors_section {
    margin-top: 40px;
}

.doctors_wrapper {
    display: flex;
    margin-top: 50px;
}

.doctor_card {
    width: 33.3333%;
    gap: 70px;
    background: #A4BCA7;
}

.doctor_image {
    height: 323px;
}

.doctor_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.doctor_info {
    border-right: 36px solid red;
    padding: 30px;
}

.doctor_name {
    font-size: 20px;
    line-height: 23px;
    font-weight: 700;
    color: #fff;
}