.doctor_detail_section {
    margin-top: 40px;
}

.doctors_name {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.doctor_post {
    font-size: 18px;
    color: #676767;
    line-height: 22px;
    margin-bottom: 46px;
}

.doctor_post p {
    margin-bottom: 3px;
}

.doctor_post p:last-child {
    margin-bottom: 0;
}

.doctors_education_item {
    margin-bottom: 50px;
}

.doctors_education_item:last-child {
    margin-bottom: 0;
}

.doctors_education_item .title{
    font-size: 21px;
    color: #fff;
    background-color: var(--main_color);
    padding: 5px 10px;
    display: inline-block;
    font-weight: 500;
    margin-bottom: 14px;
}

.doctors_info_wrapper {
    display: flex;
    margin-top: 30px;
}

.doctors_image {
    width: 570px;
    flex-shrink: 0;
    margin-left: 100px;
}

.doctors_image img {
    width: 100%;
}