footer {
    margin-top: 90px;
    background-image: url("../images/footerBG.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 46px 0;
}

.footer_logo {
    margin-right: unset;
}

.footer_left {
    color: #fff;
    max-width: 364px;
    border-right: 1px solid #fff;
    padding-right: 120px;
    padding-top: 50px;
}

.footer_content {
    display: flex;
}

.footer_left p:nth-child(2) {
    margin-top: 25px;
}

.footer_left a:last-child {
    display: inline-block;
    color: #fff;
    margin-top: 50px;
    font-weight: 600;
}

.footer_right {
    padding-top: 50px;
    padding-left: 120px;
    color: #fff;
}

.footer_contacts {
    display: flex;
}

.footer_contacts__tels .tel {
    display: flex;
    margin-bottom: 20px;
}
.footer_contacts__tels .tel a {
    margin-left: 17px;
    color: #fff;
}

.footer_contacts__other {
    margin-left: 100px;
}

.footer_contacts__other .geo {
    display: flex;
}

.footer_contacts__other .geo > div {
    margin-left: 17px;
}

.footer_contacts__other .mail {
    display: flex;
    margin-left: -4px;
    margin-top: 20px;
}

.footer_contacts__other .mail > div {
    margin-left: 15px;
}

.footer_contacts__other .mail > div a {
    color: #fff;
}

.copyright {
    margin-top: 50px;
    text-align: right;
    font-weight: 600;
}

@media (max-width: 1300px) {
    .footer_contacts {
        flex-direction: column;
    }
    .footer_left {
        display: flex;
        flex-direction: column;
    }
    .footer_left a:last-child {
        margin-top: auto;
    }
    .footer_contacts__other {
        margin-left: unset;
    }
}

@media (max-width: 1024px) {
    .footer_left {
        padding-top: 25px;
        padding-right: 60px;
    }
    .footer_right {
        padding-top: 25px;
        padding-left: 60px;
    }
}

@media (max-width: 767px) {
    .footer_left {
        max-width: 50%;
    }

}

@media (max-width: 576px) {
    footer {
        margin-top: 100px;
    }
    .contacts_section__text br {
        display: block !important;
    }
    .contacts_section__contacts .social svg {
        width: 30px;
        height: 30px;
    }
    .footer_content {
        flex-direction: column;
    }
    .footer_right {
        padding: 0;
    }
    .footer_left {
        padding: 0;
        max-width: unset;
        border: none
    }
    .copyright {
        margin-top: 20px;
        padding-top: 15px;
        border-top: 1px solid #fff;
    }

    .footer_contacts__other svg {
        width: 20px;
    }
    .footer_contacts__other .mail {
        margin-left: unset;
    }
    .footer_contacts__other .mail > div {
        margin-left: 17px;
    }
}