/* fonts */
@import "../fonts/Gilroy/stylesheet.css";
@import "../fonts/Nextart/stylesheet.css";

:root {
  --main_color: #6A9470;
  --main_color_hover: #78b280;
  --main_color_text: #262626;
}

body {
  font-family: "Gilroy", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--main_color_text);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: #f4f5f3;
  transition: 0.3s opacity ease;
}

a {
  color: var(--main_color_text);
  text-decoration: none;
  transition: 0.35s all ease;
}

a:hover {
  color: var(--main_color);
}

b {
  font-weight: 600;
}

p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 66px;
  color: var(--main_color_text);
  font-family: "NEXT ART", sans-serif;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: 0.5px;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 54px;
  color: var(--main_color_text);
  font-family: "NEXT ART", sans-serif;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: 0.5px;
  margin: 0;
  padding: 0;
}

h3  {
  font-size: 26px;
  line-height: 32px;
  font-weight: 700;
  font-family: "NEXT ART", sans-serif;
  letter-spacing: 0.5px;
}

h1 span {
  color: var(--main_color);
  background-color: unset;
  padding: 0;
}

span.text {
  background-color: var(--main_color);
  color: #fff;
  font-weight: 600;
  padding: 3px 5px;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

.bold_text {
  font-weight: 600;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

html,
body {
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

.button {
  background-color: var(--main_color);
  padding: 11px 20px;
  color: #fff;
  font-weight: 700;
  display: inline-block;
  transition: 0.35s all ease;
}

.button:hover {
  background-color: var(--main_color_hover);
  color: #fff;
}

.button.rounded {
  border-radius: 50px;
  padding: 18px 39px;
}

.map {
  height: 400px;
}

.user_interface {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 6;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.exit_account {
  background: var(--main_color);
  padding: 5px 15px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 600;
  color: #fff;
  transition: 0.35s all ease;
}

.exit_account:hover {
  background: var(--main_color_hover);
}

.error_page {
  margin-top: 40px;
}

.error_page__title h1 {
  text-transform: uppercase;
}

.error_page__title p {
  color: var(--main_color);
  font-weight: 600;
  margin-top: 10px;
  font-size: 18px;
}

.error_page__icon {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

img {
  opacity: 0;
  transition: 0.35s all ease;
}

img.active {
  opacity: 1;
}

@media (max-width: 1300px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 1024px) {
  h1 {
    font-size: 54px;
    line-height: 60px;
  }
  .container {
    max-width: 720px;
  }
}

@media (max-width: 767px) {
  body {
    font-size: 14px;
    line-height: 20px;
  }
  .container {
    max-width: 540px;
  }
}

@media (max-width: 576px) {
  br {
    display: none;
  }
  h1 {
    font-size: 34px;
    line-height: 40px;
  }
  .container {
    max-width: 90vw;
  }
}