.service_section {
    margin-top: 40px;
}

.service_section h2 {
    max-width: 80%;
    margin-bottom: 27px;
}

.service_section__content {
    margin-top: 25px;
    padding: 50px;
    background: #FFFFFF;
}

.service__description_wrapper {
    display: flex;
    margin-top: 6px;
    justify-content: space-between;
    align-items: flex-start;
    width: 73%;
    padding-bottom: 28px;
    border-bottom: 1px solid var(--main_color_text);
}

.service__price {
    font-size: 32px;
    font-weight: 600;
    color: var(--main_color);
}

.service__description {
    font-weight: 600;
    max-width: 82%;
    color: var(--main_color_text);
}

.service {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 40px;
}

.service:last-child {
    margin-bottom: 0;
}

.medicine_direction_info_wrapper {
    display: flex;
    justify-content: space-between;
}

.medicine_direction_image {
    width: 487px;
    height: 487px;
    flex-shrink: 0;
    margin-left: 100px;
}

.medicine_direction_image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.medicine_direction_title {
    font-size: 21px;
    font-weight: 600;
    line-height: 25.6px;
    display: inline-block;
    margin-top: 27px;
    position: relative;
}

.medicine_direction_title.got_three {
    display: block;
}

.medicine_direction_title.got_three::before {
    position: absolute;
    right: 13px;
    top: 50%;
    content: "";
    width: 360px;
    height: 1px;
    transform: translateY(-50%);
    background-color: var(--main_color_text);
    display: none;
}

.medicine_direction_title.margin {
    margin-top: 50px;
}

.medicine_direction_title.slogan {
    margin-top: 0;
}

.medicine_direction_description {
    font-size: 16px;
    line-height: 26px;
    margin-top: 22px;
    max-width: 550px;
    position: relative;
}

.medicine_direction_description.got_three::before {
    position: absolute;
    right: -50px;
    top: -35px;
    content: "";
    height: calc(100% + 30px);
    width: 1px;
    background-color: var(--main_color_text);
    display: none;
}

.popular_services {
    display: grid;
    gap: 28px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 22px;
    flex-shrink: 0;
}

.popular_service {
    background-color: var(--main_color);
    display: flex;
    align-items: center;
    color: #fff;
    max-width: 216px;
    padding: 22px;
    text-align: center;
    font-weight: 600;
}

.medicine_direction_problems {
    display: grid;
    gap: 28px;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 30px;
}

.medicine_direction_problems .medicine_dirction_problem {
    padding: 16px 10px;
    color: #fff;
    font-weight: 500;
    line-height: 22px;
    font-size: 16px;
    background-color: var(--main_color);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.medicine_direction_problems.got_five {
    margin-bottom: 80px;
}

.medicine_direction_problems .medicine_dirction_problem:nth-child(5)::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 990px;
    height: 50px;
    top: calc(100% + 20px);
    transform: translateX(-100%);
    left: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='1004' height='42' viewBox='0 0 1004 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 0L1 41L1003 41L1003 6.26459e-09' stroke='black'/%3e%3c/svg%3e ");
}

@media (max-width: 1300px) {
    .service {
        flex-direction: column;
    }
    .service__description_wrapper {
        width: 100%;
    }
    .service a.button.rounded {
        margin-top: 20px;
    }
    .medicine_direction_problems .medicine_dirction_problem:nth-child(5)::before {
        width: 790px;
    }
    .medicine_direction_title.got_three::before {
        right: -49px;
        width: 200px;
    }

    .popular_services {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1024px) {
    .medicine_direction_info_wrapper {
        flex-direction: column;
    }
    .medicine_direction_image {
        order: -1;
        margin-left: 0;
        max-height: 400px;
        margin-bottom: 50px;
    }
    .medicine_direction_image img {
        object-fit: cover;
    }
    .popular_services {
        grid-template-columns: repeat(3, 1fr);
    }
    .medicine_direction_title.got_three::before {
        display: none;
    }
    .medicine_direction_description.got_three::before {
        display: none;
    }
    .medicine_direction_problems .medicine_dirction_problem:nth-child(5)::before {
        display: none;
    }
    .medicine_direction_problems.got_five {
        margin-bottom: 0;
    }
    .medicine_direction_problems {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 767px) {
    .service__price {
        font-size: 24px;
        margin-left: 5px;
    }
    .service_section__content {
        margin-top: 5px;
        padding: 20px;
    }
    .medicine_direction_image {
        width: 100%;
        max-height: 350px;
    }
}

@media (max-width: 576px) {
    .service a.button.rounded {
        width: 100%;
        text-align: center;
    }
    .popular_services {
        width: 100%;
        overflow: auto;
        grid-template-columns: unset;
        display: flex;
    }
    .popular_service {
        flex-shrink: 0;
        width: 200px;
    }
    .medicine_direction_problems {
        width: 100%;
        overflow: auto;
        grid-template-columns: unset;
        display: flex;
    }

    .medicine_dirction_problem {
        flex-shrink: 0;
        width: 200px;
    }
}