.directions {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.directions_section {
    margin-top: 40px;
}

.directions .direction {
    flex-shrink: 0;
    color: var(--main_color_text);
    font-weight: 500;
}

.directions_section__not_found {
    max-width: 400px;
    font-weight: 500;
    margin-top: 30px;
}

.directions_section__not_found a {
    color: var(--main_color);
}

.directions .direction:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
    color: var(--main_color_text);
}

@media (max-width: 576px) {
    .directions {
        flex-direction: column;
        gap: 20px;
    }
    .directions .direction {
        text-align: center;
    }
}