<section class="about_section">
    <div class="container">
        <div class="about_section__content">
            <div class="about_section__steps">
                <div class="step">
                    <p>Сначала
                        вами занимается
                        ваш личный врач общей&nbsp;практики</p>
                </div>
                <div class="step">
                    <p>Затем вы можете быстро пройти
                        все&nbsp;необходимые обследования</p>
                </div>
                <div class="step">
                    <p>Вы получите рекомендации
                        и&nbsp;постоянное наблюдение вашего личного врача</p>
                </div>
                <div class="step">
                    <p>При&nbsp;необходимости вас проконсультируют врачи узкой специализации</p>
                </div>
            </div>
            <div class="about_section__text editble" data-page="main" data-name="aboutBlock"><%- pageText.aboutBlock %></div>
        </div>
    </div>
</section>