<%
const socials = [
    {
        name: "phone",
        icon: '<svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M16.0149 13.0905C14.5712 12.9593 13.7837 14.928 12.7337 15.453C11.0274 16.3718 7.87742 13.0905 7.87742 13.0905C7.87742 13.0905 4.59617 9.94051 5.38367 8.23426C6.03992 7.18426 8.00867 6.39676 7.87742 4.95301C7.74617 3.64051 4.85867 -1.08449 3.41492 0.22801C0.26492 3.11551 0.00242055 4.29676 0.00242055 6.65926C-0.128829 10.728 5.12117 15.8468 5.12117 15.8468C5.64617 16.3718 10.2399 21.0968 14.3087 20.9655C16.6712 20.9655 17.8524 20.703 20.7399 17.553C22.0524 16.1093 17.4587 13.2218 16.0149 13.0905V13.0905Z" fill="#6A9470"/> </svg>',
        link: ""
    },
    {
        name: "instagram",
        icon: '<svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.86 10.5C13.86 11.1645 13.6629 11.8142 13.2937 12.3667C12.9245 12.9193 12.3998 13.3499 11.7858 13.6042C11.1719 13.8585 10.4963 13.9251 9.8445 13.7954C9.19272 13.6658 8.59403 13.3458 8.12412 12.8759C7.65422 12.406 7.33421 11.8073 7.20456 11.1555C7.07491 10.5037 7.14145 9.82814 7.39576 9.21418C7.65007 8.60022 8.08073 8.07546 8.63328 7.70626C9.18583 7.33706 9.83545 7.14 10.5 7.14C11.3908 7.14102 12.2449 7.49534 12.8748 8.12525C13.5047 8.75515 13.859 9.60919 13.86 10.5ZM21 5.88V15.12C20.9982 16.6789 20.3782 18.1735 19.2758 19.2758C18.1735 20.3782 16.6789 20.9982 15.12 21H5.88C4.32107 20.9982 2.82649 20.3782 1.72416 19.2758C0.621831 18.1735 0.00176555 16.6789 0 15.12V5.88C0.00176555 4.32107 0.621831 2.82649 1.72416 1.72416C2.82649 0.621831 4.32107 0.00176555 5.88 0H15.12C16.6789 0.00176555 18.1735 0.621831 19.2758 1.72416C20.3782 2.82649 20.9982 4.32107 21 5.88V5.88ZM15.54 10.5C15.54 9.50318 15.2444 8.52875 14.6906 7.69993C14.1368 6.8711 13.3497 6.22511 12.4287 5.84365C11.5078 5.46218 10.4944 5.36237 9.51674 5.55684C8.53908 5.75131 7.64104 6.23133 6.93618 6.93618C6.23133 7.64104 5.75131 8.53908 5.55684 9.51674C5.36237 10.4944 5.46218 11.5078 5.84365 12.4287C6.22511 13.3497 6.8711 14.1368 7.69993 14.6906C8.52875 15.2444 9.50318 15.54 10.5 15.54C11.8362 15.5385 13.1173 15.007 14.0621 14.0621C15.007 13.1173 15.5385 11.8362 15.54 10.5V10.5ZM17.22 5.04C17.22 4.7908 17.1461 4.54719 17.0077 4.33998C16.8692 4.13278 16.6724 3.97128 16.4422 3.87591C16.2119 3.78055 15.9586 3.75559 15.7142 3.80421C15.4698 3.85283 15.2453 3.97283 15.069 4.14905C14.8928 4.32526 14.7728 4.54977 14.7242 4.79419C14.6756 5.0386 14.7005 5.29195 14.7959 5.52218C14.8913 5.75242 15.0528 5.9492 15.26 6.08765C15.4672 6.2261 15.7108 6.3 15.96 6.3C16.2942 6.3 16.6147 6.16725 16.851 5.93095C17.0872 5.69466 17.22 5.37417 17.22 5.04Z" fill="#6A9470"/></svg>',
        link: ""
    },
    {
        name: "email",
        icon: '<svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.7129 3.27368C20.4169 2.84023 19.9192 2.55377 19.3574 2.55377H1.64259C1.09265 2.55377 0.606371 2.83005 0.308105 3.24841L10.5325 11.7738L20.7129 3.27368Z" fill="#6A9470"/> <path d="M0.00195312 4.70135V16.8056C0.00195312 17.7079 0.740234 18.4462 1.64258 18.4462H19.3574C20.2597 18.4462 20.998 17.7079 20.998 16.8056V4.745L10.5325 13.4826L0.00195312 4.70135Z" fill="#6A9470"/> </svg>',
        link: ""
    }
]
%>
<div class="fixed_socials">
    <%socials.forEach(el => {%>
        <a class="fixed_social <%=el.name%>" href="<%=el.link%>">
            <%-el.icon%>
        </a>
    <%})%>
</div>