        </main>
        <footer>
            <div class="container">
                footer
            </div>
        </footer>
        <%resources.js.forEach(el => {%> <script type="module" src=<%=el%>></script><%})%>
        <script type="module" src="/js/main.js"></script>
    </body>
</html>
