<%- include('../components/header') %>
<div class="error_page">
    <div class="container">
        <div class="error_page__title">
            <h1>Страница <br>в разработке</h1>
            <p>Нужно чуть-чуть подождать!</p>
        </div>
        <div class="error_page__icon">
            <svg width="212" height="433" viewBox="0 0 212 433" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="212" y="432.781" width="208.345" height="26.8045" rx="13.4023" transform="rotate(-180 212 432.781)" fill="#6A9470" fill-opacity="0.13"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M208.524 368.246C208.524 379.292 199.57 388.246 188.524 388.246L23.4755 388.246C12.4298 388.246 3.47554 379.292 3.47554 368.246L3.47554 364.787C3.47555 332.565 18.3407 303.814 41.5875 285.019C41.6204 284.992 41.6426 284.955 41.6501 284.913C41.6571 284.874 41.6753 284.84 41.705 284.814C51.498 276.155 69.4659 258.015 86.9783 234.064C96.0884 221.605 115.924 221.596 125.049 234.044C142.438 257.767 160.486 276.13 170.465 285.062C193.682 303.858 208.524 332.589 208.524 364.787L208.524 368.246Z" fill="#6A9470" fill-opacity="0.13"/>
                <rect y="0.218689" width="208.345" height="26.8046" rx="13.4023" fill="#6A9470" fill-opacity="0.13"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.47559 64.8897C3.47559 53.844 12.4299 44.8896 23.4756 44.8896H188.524C199.57 44.8896 208.524 53.844 208.524 64.8897V68.3486C208.524 100.571 193.659 129.322 170.412 148.117C170.38 148.144 170.357 148.181 170.35 148.223C170.343 148.262 170.325 148.296 170.295 148.322C160.502 156.981 142.534 175.121 125.022 199.072C115.912 211.531 96.0761 211.541 86.9514 199.092C69.5622 175.368 51.5138 157.005 41.5346 148.074C18.3182 129.278 3.47559 100.547 3.47559 68.3486V64.8897Z" fill="#6A9470" fill-opacity="0.13"/>
            </svg>
        </div>
    </div>
</div>
<%- include('../components/footer') %>
