<%- include('../components/header') %>
<div>
    <div class="container">
        <a class="btn-small waves-effect" href="/admin/auth/doctors">Врачи</a>
        <a class="btn-small waves-effect" href="/admin/auth/services">Услуги</a>
        <a class="btn-small waves-effect" href="/admin/auth/medicine_directions">Медицинские направления</a>
    </div>
</div>
<%- include('../components/footer') %>
