<%- include('../components/header') %>
<div class="wrapper-auth">
    <form class="auth-form">
        <div class="input-wrapper">
            <label for="login">Логин</label>
            <input class="auth_input" id="login" name="login" type="text">
        </div>
        <div class="input-wrapper">
            <label for="password">Пароль</label>
            <input class="auth_input" id="password" name="password" type="text">
        </div>
        <input type="submit" value="Войти">
    </form>
<!--    <button class="register_btn">регистрация</button>-->
</div>
<%- include('../components/footer') %>