<%- include('../components/header') %>
<div class="container">
    <div class="wrapper-auth">
        <form class="auth-form">
            <div class="input-wrapper">
                <label for="login">Логин</label>
                <input class="auth_input" id="login" name="login" type="text">
            </div>
            <div class="input-wrapper">
                <label for="password">Пароль</label>
                <input class="auth_input" id="password" name="password" type="password">
            </div>
            <input type="submit" value="Войти">
        </form>
    <!--    <button class="register_btn">регистрация</button>-->
    </div>
</div>
<%- include('../components/footer') %>