<%- include('../components/header') %>
<%- include('../components/fixed-socials') %>
<div>
    <%currentDoctor[0].posts.forEach(el => {%>
        <span><%=el.doctorDirectionName%></span>
    <%})%>
</div>
<%- include('../components/footer') %>
