<%- include('../components/header') %>
<div class="container">
    <div class="doctors_wrapper">
        <%if (doctors) {%>
            <%doctors.forEach(el => {%>
                <div class="doctor">
                    <div><%=el.name%></div>
                    <img class="animate_image" src="" data-src="<%=el.image%>" />
                </div>
            <%})%>
        <%} else {%>
            Нет докторов(
        <%}%>
    </div>
</div>
<%- include('../components/footer') %>