<%- include('../components/header') %>
<div class="container">
    <%if (doctors) {%>
        <%doctors.forEach(el => {%>
            <div><%=el.name%></div>
        <%})%>
    <%}%>
</div>
<%- include('../components/footer') %>