<%- include('../components/header') %>
<div class="container">
    <div class="editble" data-page="main" data-name="Text1"><%-text.Text1%></div>
    <div class="editble" data-page="main" data-name="Text2"><%-text.Text2%></div>
</div>
<%- include('../components/footer') %>
